
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Admin Area</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/adminstyle.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" href="#" href="/" target="_blank">CMS Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li >
          <a class="nav-link" href="/admin/pages">Pages</a>
        </li>
        <li>
          <a class="nav-link" href="/admin/categories">Categories</a>
        </li>

      </ul>

    </div>
  </nav>

  <main role="main" class="container">
    <%- messages('messages', locals) %>

    <% if (errors) {%>
      <% errors.forEach(function(e) { %>
        <div class="alert alert-danger mt-3">
          <%= e.msg%>
        </div>
        <% });%>
        <% } %>
